<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongua.findfriends">

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.FirstUploadActivity"></activity>
        <activity android:name=".test.TestActivity" /> 
        <activity android:name=".ui.IndexActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> 
        <service
            android:name=".service.CloudService"
            android:enabled="true"
            android:exported="true"></service>
        <!-- Bmob -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.dongua.findfriends.BmobContentProvider"></provider>
        <!-- oppo适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> 
      <!-- 小米适配 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".ui.IndexActivity"></activity> 
      <!-- 登录页 -->
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity> 
      <!-- 引导页 -->
        <activity
            android:name=".ui.GuideActivity"
            android:theme="@style/AppThemeFull" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


            android:authorities="com.dongua.findfriends.BmobContentProvider" /> <!-- 主页 -->
        <service
            android:name=".service.CloudService"
            android:enabled="true"
            android:exported="true" />
        <!--FileProvider-->
        <provider
            android:authorities="com.dongua.findfriends.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
    </application>

</manifest>